<!DOCTYPE html>
<html lang="en" dir="ltr">
	{% load static %}
 <head>
	 <meta charset="UTF-8">
     <title>Registro de envio</title>
	 
	 <link rel="stylesheet" href="{% static 'css/style.css' %}">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>
  <div class="container">
	  <div class="title">Datos de envio</div>
	  <form action="/Enviar_datos/" method="POST">{% csrf_token%}
		  <div class="user-details">
			  <div class="input-box">
				<span class="details">Nombre y apellido</span>
			  	<input type="text" placeholder="Ingrese su nombre completo" name="nombres" required >
			  </div>
			  <div class="input-box">
				<span class="details">Documento de identidad</span>
				<input type="text" placeholder="Ingrese su documento" name="id" required >
			  </div>
			  <div class="input-box">
				<span class="details">Correo electrónico</span>
				<input type="text" placeholder="Ingrese su correo" name="correo" required >
			  </div>
			  <div class="input-box">
				<span class="details">Dirección</span>
				<input type="text" placeholder="Ingrese su dirección" name="direccion" required >
			  </div>
			  <div class="input-box">
				<span class="details">Departamento</span>
				<input type="text" placeholder="Ingrese el departamento de residencia" name="Depa" required >
			  </div>
			  <div class="input-box">
				<span class="details">Ciudad</span>
				<input type="text" placeholder="Ingrese ciudad de residencia" name="ciudad" required >
			  </div>
			  <div class="input-box">
				<span class="details">Teléfono</span>
				<input type="text" placeholder="Ingrese su número telefónico" name="telefono" required >
			  </div>
			  <div class="Texto pagar">
				<input type="hidden" value="{{producto.cost}}" name="costo">
			  	<h2> $ Total a pagar: {{producto.cost}}</h2>
			  </div>
			  <div>
				<input type="hidden" value="{{producto.name}}" name="nombre_producto">
			  </div>
			  <div class="input-box">
				<span class="details">Cantidad</span>
				<input type="text" placeholder="Ingresa la cantidad a comprar" name="stock" required>
			  </div>
			  <div class="button">
				  <input type="submit" value="Comprar ahora">
			  </div>
			  
		  </div> 
		</form>
  </div>





 </body>
</html>